.basket {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-top: 2vh;
    background-color: white;
    height: 40vh;
    width: 75vw;
    margin-bottom: 20vh;
    margin-left: 2vw;
}