* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f5f5;
}

.container {
    max-width: 90vw;
    margin: 20px auto;
    padding-left: 25px;
    padding-right: 25px;

    h2 {
        text-align: center;
        font-size: 1.8rem;
        color: #444;
        margin: 50px 0px;
    }
}

.header-section {
    margin-top: 151px;
    background: radial-gradient(#fff, #eaf2fb);
}

#burger_box {
    position: relative;
    background-color: #1a1a1a;
    color: white;
    height: 500px;
    width: 20vw;
    transform: translate(1vw, 590px);
    opacity: 0.8;
    margin-top: -500px;
    display: none;
    z-index: 2;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        height: 500px;
    }

    ul li a {
        text-decoration: none;
        color: white;
    }
}

#burger_button {
    cursor: pointer;
}

.image_product {
    cursor: pointer;
}

.rowAllProducts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 85px;
}

.rowIndex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 85px;
}

.rowIndex2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 85px;
}

.rowIndexIntro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 85px;
}

.rowIndexBestProducts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 85px;
}

.rowIndexLastProducts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 85px;
}



img {
    border-radius: 15px;
}

figcaption {
    text-align: center;
    font-size: small;
    font-family: 'Indie Flower', cursive;
}

p {
    color: #555;
}

/* Index and products style */

.productPageProducts {
    flex-basis: 25%;
    min-width: 200px;
    padding: 15px;
    transition: transform 0.4s;

    img {
        width: 100%;
    }

    :hover {
        transform: translateY(-10px);
    }
}

.productIndexBestProducts {
    flex-basis: 25%;
    min-width: 200px;
    padding: 15px;
    transition: transform 0.4s;

    img {
        width: 100%;
    }

    :hover {
        transform: translateY(-10px);
    }
}

.productIndexLastProducts {
    flex-basis: 25%;
    min-width: 200px;
    padding: 15px;
    transition: transform 0.4s;

    img {
        width: 100%;
    }

    :hover {
        transform: translateY(-10px);
    }
}

.productIndex {
    flex-basis: 25%;
    min-width: 200px;
    padding: 15px;
    transition: transform 0.4s;

    img {
        width: 100%;
    }

    :hover {
        transform: translateY(-10px);
    }
}


.popup {
    height: 572px;
    width: 50vw;
    background-color: #1a1a1a;
    z-index: 2000;
    transform: translate(0px, 195px);
    text-align: justify;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 0px;
    transform: translate(300px, 747px);
    margin-top: -723px;
    opacity: 0.95;

    h3 {
        color: white;
        padding-bottom: 25px;
        padding-top: 12px;
    }

    .contentPopup p {
        color: white;
        font-size: 14px;
    }

    button {
        width: 45vw;
        height: 40px;
        margin-top: 7px;
        border-radius: 5px;
        border: none;
        margin-left: 3px;
        font-size: medium;
        cursor: pointer;
    }
}


/* Index and about style */

#unnamed {
    width: 100%;
    padding: 30px 0px;
    max-width: 300px;
    margin-left: 5vw;
}

/* End of index and about style */

@media screen and (max-width: 780px) {

    .header-section {
        margin-top: -572px;
        background: radial-gradient(#fff, #eaf2fb);
    }

    .popup {
        height: 572px;
        width: 100vw;
        background-color: #1a1a1a;
        z-index: 2000;
        transform: translate(0px, 195px);
        text-align: justify;
        padding-left: 20px;
        padding-right: 40px;
        padding-top: 0px;
        margin-top: 0px;

        h3 {
            color: white;
            padding-bottom: 25px;
            padding-top: 12px;
        }

        .contentPopup p {
            color: white;
            font-size: 14px;
        }

        button {
            width: 90vw;
            height: 40px;
            margin-top: 7px;
            border-radius: 5px;
            border: none;
            margin-left: 3px;
            font-size: medium;
            cursor: pointer;
        }
    }

}