section.featured-products
    div.container
        h2 Best products
        div.rowIndexBestProducts
            div.productIndexBestProducts
                img.image_product(id='product1' src='#' alt='')
                h3.nameProduct
                p.price