div.popup(id='active')
    h3 New Style
    div.contentPopup
        p This site needs a lot of resources to facilitate the purchase of consumers. This work is based on the complementary income from advertising cookies and subscriptions. You can therefore :
        br
        p(style='font-weight: 700;') Free access by accepting the use of cookies.
        p Free access to the site (excluding exclusive subscriber content) is subject to your consent to the use of cookies, especially for advertising personalization, or similar technologies by New Style and third party partners. You may withdraw your consent at any time.
        br
        p(style='font-weight: 700;') What is a cookie ?
        br
        p Subscribe to New Style to enjoy all the content. Access to the site with a subscription allows you to access to all New Style content and archives from our website and mobile applications. By clicking on the button ' Cancel ', you will be able to refuse the cookies (except operating and audience measurement cookies). </p>
        button(id='continueButton' style='margin-top: 30px; background-color: #00d0e5;') Accept and continue
        button(id='cancelButton' style='background-color: rgb(255, 88, 88); opacity: 0.55') Cancel
