section.categories
    div.container
        h2 Featured categories
        div.rowIndex2
            div.col-3
                img(src='images/category-1.jpg' alt='')
            div.col-3
                img(src='images/category-2.jpg' alt='')
            div.col-3
                img(src='images/category-3.jpg' alt='')