footer
    ul(id='footer-row1')
        li 
            a(href='#') Blog Tech |
        li 
            a(href="#") General conditions |
        li 
            a(href="#") Legal information | 
        li 
            a(href="#") Data protection |
        li 
            a(href="#") Data parameters | 

    ul(id='footer-row2')
        div 
            li 
                h5 Applications New Styl
        div.inline_links 
            li 
                a(href='#')
                    img(src='images/app-store.png' width='100px' alt='image store')
            li 
                a(href='#')
                    img(src='images/google-play.png' width='100px' alt='image google play')

    ul(id='footer-row3')
        div 
            li 
                h5 More Inspiration
        div.inline_links
            li 
                a(href='https://www.facebook.com')
                    img(src='images/facebook.png' alt='fb logo')
            li 
                a(href='https://www.youtube.com')
                    img(src='images/youtube.png' alt='youtube logo')
            li 
                a(href='https://www.instagram.com')
                    img(src='images/instagramme.png' alt='instagram logo')