section(id='header-section')
    div.container
        header.navbar
            div.navbar1
                div.logo
                    figure
                        img(id='burger_button' src='images/ooo.png' alt='New style logo')
                        figcaption New style
            div.navbar2
                div.box_search
                    form(action="#")
                        input(id='search' type='search' value='' placeholder='search' name='search')
                        button(id='make_search' type='submit')
                            i.fa fa-search
                nav
                    a(href='basket.html')
                        img(id='basket' src='images/cart.png' alt='Cart icon' width='26px')
        div.rowIndexIntro
            div.col-2
                h1 Give at your training
                    br
                    |a new style !
                p Success is not always about greatness.
                    br
                    |It's a matter of consistency.Hard and consistent work earns success. Greatness will come.
                a(href='') Explore now &#8594;
            div.col-2
                img(src='images/unnamed.jpg' alt='landing image')