section.featured-products
    div.container
        h2 Our last products
        div.rowIndexLastProducts
            div.productIndexLastProducts
                img.image_product(id='product1' src='#' alt='')
                h3.nameProduct
                p.price