DOCTYPE html
html(lang='en')

include _head

body(style='margin-top: -150px;')
    include _cookiePopUp
    include _burgerBox
    include _header
    include _featuredCategories
    include _bestProducts
    include _lastProducts


    include _footer
    script(type='module' src='javascript/index.js')
